<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>TABO SHOP</title>
    <link rel="icon" href="./img/tabo.png" type="image/x-icon" />
    <link rel="stylesheet" href="css/index.css" />
    <style>
      a {
        text-decoration: none;
        color: #3498db;
        font-weight: bold;
        font-size: 16px;
        transition: color 0.3s ease;
      }

      a:hover {
        color: #e74c3c;
      }

      a:focus {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <div class="banner main-container">
      <header class="mb-3">
        <div class="container-fluid bg-info">
          <div class="row align-items-center">
            <div class="col-4 col-xl-1 col-lg-2 col-md-2 col-sm-2">
              <h5>
                <a
                  href="/main"
                  class="text-center text-white fw-bold fs-1 mr-1"
                  data-i18n="tabo"
                  >TABO</a
                >
              </h5>
            </div>
            <div class="col-4 col-xl-1 col-lg-2 col-md-2 col-sm-2">
              <div class="language-selector">
                <select id="lang-select">
                  <option value="en" data-i18n="english">English</option>
                  <option value="ru" data-i18n="russian">Русский</option>
                </select>
              </div>
            </div>

            <div class="col-6 col-xl-6 col-lg-6 col-3 col-md-3 col-sm-3">
              <nav
                class="navbar navbar-expand-lg justify-content-center align-items-center"
              >
                <ul class="nav navbar-nav align-items-center">
                  <li class="nav-item">
                    <h5>
                      <a
                        class="nav-link mx-2 active text-white fw-bold fs-3"
                        href="/main"
                        data-i18n="home"
                        >Home</a
                      >
                    </h5>
                  </li>
                  <li class="nav-item px-3">
                    <h5>
                      <a
                        class="nav-link mx-2 active text-white fw-bold fs-3"
                        href="/shop"
                        data-i18n="shop"
                        >Shop</a
                      >
                    </h5>
                  </li>
                  <li class="nav-item pr-3">
                    <h5>
                      <a
                        class="nav-link mx-2 active text-white fw-bold fs-3"
                        href="/brands"
                        data-i18n="brands"
                        >Brands</a
                      >
                    </h5>
                  </li>
                  <li class="nav-item pr-3">
                    <h5>
                      <a
                        class="nav-link mx-2 active text-white fw-bold fs-3"
                        href="/contacts"
                        data-i18n="contacts"
                        >Contacts</a
                      >
                    </h5>
                  </li>
                </ul>
              </nav>
            </div>

            <div class="col-12 col-xl-4 col-lg-3 col-sm-6 col-md-6">
              <div
                class="row align-items-center justify-content-center icon-row"
              >
                <% if (adminStatus) { %>
                <div class="col-3">
                  <a class="text-dark" href="/admin" target="blank"
                    ><i
                      class="fa-solid fa-circle-info fa-2x"
                      aria-hidden="true"
                    ></i
                  ></a>
                </div>
                <% } %>
                <div class="col-3">
                  <a class="text-dark" href="/cart" target="blank"
                    ><i
                      class="fa-solid fa-shopping-cart fa-2x"
                      aria-hidden="true"
                    ></i
                  ></a>
                </div>

                <div class="col-3 d-flex flex-column align-items-center">
                  <form action="/signout" method="post">
                    <button type="submit" class="btn signOut">
                      <i class="fa-solid fa-arrow-right-from-bracket fa-2x"></i>
                    </button>
                  </form>
                </div>

                <div class="col-3 d-flex flex-column align-items-center">
                  <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                  <% if (username) { %>
                  <span class="text-center"><%= username %></span>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <div id="imageModal" class="modal">
        <span class="close" onclick="closeModal()">&times;</span>
        <img class="modal-content" id="zoomedImg" />
      </div>

      <!-- Main Content -->
      <div class="container">
        <div class="content text-center">
          <h1 class="mt-5" data-i18n="tabo_welcome">
            TABO - the first Kazakhstan online fashion destination
          </h1>
          <div class="row mt-4">
            <div
              class="col-xxl-8 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-4"
            >
              <p class="p1" data-i18n="tabo_mission">
                'Tabo,' translated as 'what you seek,' encapsulates our mission
                perfectly
              </p>
              <div class="row">
                <p class="text">
                  <strong data-i18n="welcome_world"
                    >Welcome to the world of fashion</strong
                  >
                </p>
                <a href="/quiz">TABO Quiz</a>
              </div>
              <div class="d-flex justify-content-center">
                <div class="image-slider">
                  <img
                    src="img1.png"
                    alt=""
                    class="zoomable-image img-fluid mt-3"
                    data-i18n="image1"
                  />
                  <img
                    src="img3.png"
                    alt=""
                    class="zoomable-image img-fluid mt-3"
                    data-i18n="image3"
                  />
                  <img
                    src="img2.png"
                    alt=""
                    class="zoomable-image img-fluid mt-3"
                    data-i18n="image2"
                  />
                </div>
              </div>
              <div class="text-center mt-3">
                <button
                  type="button"
                  class="btn btn-info"
                  id="prevBtn"
                  data-i18n="previous"
                >
                  Previous
                </button>
                <button
                  type="button"
                  class="btn btn-info"
                  id="nextBtn"
                  data-i18n="next"
                >
                  Next
                </button>
              </div>
            </div>
            <div
              class="col-xxl-4 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
            >
              <img
                class="zoomable-image top_photo img-fluid"
                src="img4.png"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <footer class="bg-light text-dark mt-5">
        <div class="container p-4">
          <div class="row">
            <div class="col-lg-6 col-md-12 mb-4">
              <h5 class="mb-3 text-dark" data-i18n="about_shop">
                About Our Shop
              </h5>
              <p data-i18n="shop_description">
                Welcome to TABO SHOP! We offer a wide range of high-quality
                products to meet your fashion needs. Explore our collection and
                find the perfect items for your style.
              </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
              <h5 class="mb-3 text-dark" data-i18n="links">Links</h5>
              <ul class="list-unstyled mb-0">
                <li class="mb-1">
                  <a href="/faq" style="color: #4f4f4f" data-i18n="faq">FAQ</a>
                </li>

                <li class="mb-1">
                  <a
                    href="/brands"
                    style="color: #4f4f4f"
                    data-i18n="collaborations"
                    >Collabarations</a
                  >
                </li>
                <li>
                  <a
                    href="/contacts"
                    style="color: #4f4f4f"
                    data-i18n="contact_us"
                    >Contact us</a
                  >
                </li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
              <h5 class="mb-1 text-dark" data-i18n="opening_hours">
                Opening Hours
              </h5>
              <table class="table" style="border-color: #666">
                <tbody>
                  <tr>
                    <td data-i18n="mon_fri">Mon - Fri:</td>
                    <td data-i18n="mon_fri_hours">8am - 9pm</td>
                  </tr>
                  <tr>
                    <td data-i18n="sat_sun">Sat - Sun:</td>
                    <td data-i18n="sat_sun_hours">8am - 1am</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div
          class="text-center p-3"
          style="background-color: rgba(0, 0, 0, 0.2)"
        >
          © 2023 TABO SHOP
        </div>
      </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/auth.js"></script>
    <script src="js/image_slider.js"></script>
    <script src="js/cursor-image.js"></script>
    <script src="js/zoom.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/i18n/jquery.i18n.js"></script>
    <script src="js/i18n/jquery.i18n.messagestore.js"></script>
    <script src="js/i18n/jquery.i18n.fallbacks.js"></script>
    <script src="js/i18n/jquery.i18n.language.js"></script>
    <script src="js/i18n/jquery.i18n.parser.js"></script>
    <script src="js/i18n/jquery.i18n.emitter.js"></script>
    <script src="js/i18n/jquery.i18n.emitter.bidi.js"></script>
    <script src="js/i18n/languages/ru.js"></script>
    <script src="js/global.js"></script>
  </body>
</html>
